<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <script src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
   <link rel="stylesheet" href="../static/css/main2.css">

</head>
<body>

<div id="vl1">
<div class="panel">
    <div id="l1">
    </div>
    <div class="panel-footer"></div>
</div>
</div>

<div id="vl2">
    <div class="panel">
    <div id="l2"></div>
    <div class="panel-footer"></div>
</div>
</div>

<div id="vr1">
    <div class="panel">
        <div id="r1">
        </div>
    <div class="panel-footer"></div>
    </div>
</div>

<div id="vr2" style="">
    <div class="panel">
        <div id="r2p">
            <h2 style="color:white;">人口指数</h2>
             <h style="color:white;"> {{msg}}</h>
        </div>
        <div id="r2">
            <form action = "/test" method = "POST">
          <h style="color:white;"> 地点的ID</h><input type="text" name="username" ><br/>
          <h style="color:white;"> 查询时间</h><input type="text" name="pw" ><br/>
            <input type="submit" class="button" value="提交" style="color:white;"><br/>
    </form>
    <!--img src="" height="100%" width="100%"/-->

</div>
        <div class="panel-footer"></div>
</div>
</div>

<div id="vr4">
    <div class="panel">
        <div id="r4"></div>
    <div class="panel-footer"></div>
</div>
</div>


<script src="../static/js/ec_left1.js"></script>
<script src="../static/js/ec_left2.js"></script>
    <script src="../static/js/ec_right1.js"></script>
    <script src="../static/js/ec_right4.js"></script>
</body>
</html>