<!doctype html>
 <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/fontAwesome.css">
        <link rel="stylesheet" href="../static/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

        <div class="overlay"></div>
        <section class="top-part">
          <video controls autoplay loop>
            <source src="../static/videos/video.mp4" type="video/mp4">
            <source src="videos/video.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>
        </section>
        <section class="cd-hero">

          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>
                <li class="selected">
                  <a href="#0"><div class="image-icon"><img src="../static/images/1.png"></div><h6>Home</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="../static/images/2.png"></div><h6>About</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="../static/images/3.png"></div><h6>Featured</h6></a></li>
               <li><a href="#0"><div class="image-icon"><img src="../static/images/4.png"></div><h6>more</h6></a></li>
               <!--<li><a href="#0"><div class="image-icon"><img src="img/contact-icon.png"></div><h6>Contact Us</h6></a></li>-->
              </ul>
            </nav> 
          </div>  .cd-slider-nav -->

          <ul class="cd-hero-slider">

            <li class="selected">
              <div class="heading">
               <!-- <h1>北京人口流动分析平台</h1>
                <span>通过数据分析，数据挖掘，机器学习以及数据可视化技术实现以北京市为例的人口流动分析平台</span>-->
                   <h1>北京人口流动分析平台</h1>
                <span>欢迎使用献血知识科普平台，本平台有软件学院“蒲公英”云科普献血志愿团队提供</span>
              </div>
              <div class="cd-full-width first-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content first-content">
                        <h4>About us</h4>
                          <img src="../static/images/loge.png" style="height:150px;width:150px ">
                        <p>项目名称：北京市人口流动分析大数据可视化平台</p>
<P>项目人员：赵尚祁、李超昊（整体框架设计和数据整理） 苏锡良（数据可视化图形界面绘制） 叶昕骅（机器学习及数据预测算法）<P/>
<P>项目简介：世界人口稳定增长带来的迁徙现象越发明显，由此引发新一轮人口流动分析，学者们致力于开采人口流动可视化中的巨额财富。本项目致力于中国首都-北京市的人口流动可视化，运用JavaScript、机器学习、pyecharts等技术，期望在世界性人口流动分析趋势中取得丰厚战果。</p>
                        <div class="primary-button">
                          <!--<a href="#">Discover More</a>-->
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1> DATA VISUALIZATION SCREEN</h1>
                <span>Get More Info About Our Agency</span> 
              </div>
              <div class="cd-half-width second-slide">   
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content">
                        <div class="row">
                          <div class="col-md-7 left-image">
                            <img src="../static/images/left-about-image.gif">
                          </div>
                          <div class="col-md-5">
                            <div class="right-about-text">
                              <h4>献血的好处</h4>
                              <p>大量研究表明，健康的情绪可通过神经、体液、内分泌系统沟通大脑及其他组织与器官，使其处于良好的状态，有益于人体免疫力的增强、抵抗力的提高。
                                  而献血是救人一命的高尚品行，在助人为乐、与人为善的同时，也使自己的精神得到净化，心灵得到慰藉，工作与生活更加充实。做好事者以德施善，实际上在帮助别人的同时也帮助了自己，这是健康长寿的重要要素。

                                </p>
                                <!--  北京市对全国人口流动分析页面，本版块包含以下高级可视化模块：
                                1.	各省出入京统计对比柱状图
                                2.	各省出入京人流量饼状分析图
                                3.	北京市针对性迁徙流向图
                                4.	北京市出入总量数据图（河流图、折线图）-->
                              <div class="primary-button">
                                <a href="/main">进入</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-7">
                            <div class="left-about-text">
                              <h4>可预防、缓解高粘血症</h4>
                              <p>科学家们运用血液流变学与血液动力学对血液与献血的关系作了研究，发现坚持长期适量献血，特别是单献红细胞和血小板等有形成分，可使血液粘稠度明显降低，加快血液流速，脑血流量提高，从而达到缓解或预防高粘血症，使人感到身体轻松、头脑清醒、精力充沛。
</p>
                                 <!-- 北京市内区域人口流动页面，本版块包含以下高级可视化模块：
                                1.	北京市每小时平均人口密度热力图
                                2.	各时段总人流量对比填充折线图
                                3.	单日总人流量雷达图
                                4.	人口指数预测查询入口
                                5.	分区域总人流量指数折线图（预测）-->
                              <div class="primary-button">
                                <a href="/main2">进入了解</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 right-image">
                            <img src="../static/images/right-about-image.gif">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Featured</h1>
                <span>We produce featured product every week</span> 
              </div>
              <div class="cd-half-width third-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content third-content">
                        <div class="row">
                          <div class="col-md-7 left-image">
                            <img src="../static/images/left-feature-image.gif">
                          </div>
                          <div class="col-md-5">
                            <div class="right-feature-text">
                              <h4>北京市内多场景分析页面 <em>more</em></h4>
                              <p3>多场景多维人流量统计图集合：
本模块包含了13个北京市不同场景的时间段划分式多维柱状图，其体现出的高峰（红色）低峰（蓝色）能够鲜明的标注出北京市内的人口流动关键特征值—人口瓶颈及人口高峰。
                              </p3>
                                <ul>

                                </ul>
                              </div>
                              <div class="primary-button">
                                <a href="/more">进入了解</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Our projects</h1>
                <span>Here you can check our recent projects</span> 
              </div>
              <div class="cd-half-width fourth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fourth-content">
                        <div class="row">
                          <div class="col-md-3 project-item">
                            <a href="/grid" ><img src="../static/images/p1.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="/pre" ><img src="../static/images/p2.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="/r2" ><img src="../static/images/p3.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="/r1" ><img src="../static/images/p4.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                        <img src="../static/images/grid.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                           <img src="../static/images/pre.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                       <img src="../static/images/r2.png"></a>
                          </div>
                          <div class="col-md-3 project-item">
                            <a href="../static/images/item-08.png" data-lightbox="image-1" ><img src="../static/images/r1.png"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <h1>Contact us</h1>
                <span>You'll be responded within 48 hrs</span> 
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="left-info">
                              <p>Maecenas imperdiet sagittis lacus, ut consequat velit iaculis id. Praesent eu consequat urna. Morbi justo dolor, ornare sed lorem et, auctor iaculis ligula.
                              <br><br>
                              <em>5566 Donec mollis libero<br>at metus luctus 10660</em>
                              </p>
                              <ul class="social-icons">
                                <i><a href="#"><i class="fa fa-facebook"></i></a></i>
                                <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                                <i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                                <i><a href="#"><i class="fa fa-rss"></i></a></i>
                                <i><a href="#"><i class="fa fa-behance"></i></a></i>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <form id="contact" action="" method="post">
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>
          </ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->


        <footer>
          <p>Copyright &copy; 2020 Your Company 
                                
        	| Designed by <em>analyzers</em></p>
        </footer>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="../static/js/vendor/bootstrap.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>

    </body>
</html>